Repository HackMerced/HackMerced-V, changes with the labels that .github/labeler.yml gives for each.
All labels: test, actions, server, client, documentation

Andrew coduru
  client/src/component/Live-Resources/index.jsx
  client/src/component/Live-Resources/live-resources.scss
Labels: none

Created class and content specific to Best Domain Registered Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class and content specific to Best UiPath Automation Hack's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class and content specific to Best use of MongoDB Atlas's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class and content specific to Best use of Blockstack's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class and content specific to Most Creative Radar.io Hack's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Redesigned the live site
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Resources/index.jsx
  client/src/component/Live-Resources/live-resources.scss
  client/src/component/Live-Schedule/index.jsx
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
Labels: none

Fixed last minute routing issues
  client/src/App.js
  server.js
Labels: server

Updated Instagram post
  client/src/component/Instagram/index.jsx
Labels: none

fixed navbar bug and fixed big logo
  client/src/component/HackM-Logo/hackm-logo.scss
  client/src/component/Instagram/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/component/Navigation-Bar/navigation-bar.scss
  client/src/component/Twitter/index.jsx
  client/src/pages/Live/live.scss
Labels: none

fixed more bugs, padding, and alignment
  client/src/component/Countdown/countdown.scss
  client/src/component/HackM-Logo/hackm-logo.scss
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/component/Live-Schedule/live-schedule.scss
  client/src/component/LiveCategory/index.jsx
  client/src/component/LiveCategory/live-category.scss
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/src/pages/SignUp/signUp.scss
Labels: none

added Hacker Resources & Prize Category
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
Labels: none

fix: fix live site
  client/src/component/Countdown/countdown.scss
  client/src/component/Countdown/index.jsx
  client/src/component/Footer/footer.scss
  client/src/component/Footer/index.jsx
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/src/pages/SignUp/signUp.scss
Labels: none

fix: minor updates to css
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
Labels: none

Fixed timer
  client/src/component/Countdown/index.jsx
Labels: none

Auto stash before merge of "bug/live" and "origin/develop"
  client/src/component/LiveCategory/index.jsx
  client/src/component/LiveCategory/live-category.scss
  client/src/pages/Live/live.scss
Labels: none

Dockerized HackMerced V
  .dockerignore
  Dockerfile
  client/package.json
  client/yarn.lock
  server.js
Labels: server, client

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js files within the source dir
test: 
  - src/**/*.spec.js

# Add 'actions' label to any new or updated GitHub action workflow
actions: 
  - .github/workflows/*

# Add 'server' label to any changes done to the express.js server
server:
  - server.js
  - package.json
  - src/*
  - test/*

# Add 'client' label to any changes done to the React application
client:
  - client/*

# Add the 'documentation' label to any changes in either of the documented files
documentation:
  - READEME.md
  - LICENSE
  - CODE_OF_CONDUCT.md
  - client/README.md
