Repository HackMerced/HackMerced-V, changes with the labels that .github/labeler.yml gives for each.
All labels: test, actions, server, client, documentation

Removed the security breach
  src/routes/attendees.js
Labels: none

made check-in page
  client/src/component/Navigation-Bar/navigation-bar.scss
  client/src/pages/CheckIn/checkin.scss
  client/src/pages/CheckIn/index.jsx
  client/src/pages/home/home.jsx
  client/src/routes/index.jsx
Labels: none

Working check in page
  client/src/component/Navigation-Bar/index.jsx
  client/src/pages/CheckIn/index.jsx
  client/src/pages/SignUp/index.jsx
  package.json
  server.js
  src/models/index.js
  src/routes/attendees.js
Labels: server

initial grid layout
  client/package.json
  client/src/component/Title/index.jsx
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/src/routes/index.jsx
  client/yarn.lock
Labels: client

NavBar + UX
  client/src/App.js
  client/src/component/About-Us/about.scss
  client/src/component/Accordion/index.jsx
  client/src/component/FAQ/faq.scss
  client/src/component/Navigation-Bar/index.jsx
  client/src/component/Navigation-Bar/navigation-bar.scss
  client/src/component/Schedule/schedule.scss
  client/src/component/Sponsors/index.jsx
  client/src/component/Sponsors/sponsors.scss
  client/src/component/Themes/index.jsx
  client/src/component/Themes/themes.scss
  client/src/component/Title/title.scss
  client/src/pages/Home/home.scss
  client/src/pages/Home/index.jsx
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/src/pages/SignUp/index.jsx
  client/src/pages/SignUp/signUp.scss
  client/src/pages/home/home.jsx
  client/src/routes/index.jsx
Labels: none

Fixed Live Container and Added init Live Schedule
  client/package.json
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/component/Live-Schedule/index.jsx
  client/src/component/Live-Schedule/live-schedule.scss
  client/src/component/Navigation-Bar/index.jsx
  client/src/component/Navigation-Bar/navigation-bar.scss
  client/src/component/Twitter/index.jsx
  client/src/component/Twitter/twitter.scss
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/yarn.lock
Labels: client

Live Schedule and Live Map done
  client/src/assets/Images/Parking.jpg
  client/src/assets/Images/Rooms.jpg
  client/src/component/HackM-Logo/hackm-logo.css
  client/src/component/HackM-Logo/hackm-logo.scss
  client/src/component/HackM-Logo/index.jsx
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/component/Live-Map/index.jsx
  client/src/component/Live-Map/live-map.scss
  client/src/component/Live-Schedule/index.jsx
  client/src/component/Live-Schedule/live-schedule.scss
Labels: none

Temporary Instagram feed
  client/package.json
  client/src/component/Instgram/index.jsx
  client/src/component/Instgram/instagram.scss
  client/src/component/Navigation-Bar/index.jsx
  client/src/component/Twitter/index.jsx
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/yarn.lock
Labels: client

Countdown timer
  client/src/component/Countdown/countdown.scss
  client/src/component/Countdown/index.jsx
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
Labels: none

Added images and GCP resouce
  client/src/component/Live-Container/index.jsx
Labels: none

Added Domain.com logo and resouce
  client/src/assets/Images/Domain.com-logo.png
  client/src/assets/Images/github.png
  client/src/assets/Images/googleCloud.png
  client/src/assets/Images/uipath.png
  client/src/component/Live-Resources/index.jsx
  client/src/component/Live-Resources/live-resources.scss
Labels: none

Added logo for GitHub and resouce
  client/src/component/Live-Resources/index.jsx
Labels: none

Added UiPath logo and resouce
  client/src/component/Live-Resources/index.jsx
Labels: none

Added Buttons
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
Labels: none

added blockstack logo and resouce
  client/src/assets/Images/blockstack.png
  client/src/assets/Images/mongodb.png
  client/src/assets/Images/radar.png
  client/src/component/Live-Resources/index.jsx
Labels: none

added mongodb logo and resource
  client/src/component/Live-Resources/index.jsx
Labels: none

added radar.io logo and resouce
  client/src/component/Live-Resources/index.jsx
Labels: none

Auto stash before merge of "feature/live" and "origin/feature/live"
  client/src/component/Countdown/countdown.scss
  client/src/component/Countdown/index.jsx
  client/src/component/Instagram/index.jsx
  client/src/component/Instagram/instagram.scss
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
Labels: none

Fixed extra semi-colon
  client/src/pages/Live/live.scss
Labels: none

Added base format for references
  client/src/component/Live-Resources/index.jsx
  client/src/component/Live-Resources/live-resources.scss
Labels: none

Adding skeleton to resources
  client/src/component/Live-Resources/index.jsx
  client/src/component/Live-Resources/live-resources.scss
Labels: none

added description and links for MongoDB
  client/src/component/Live-Resources/index.jsx
Labels: none

added Blockstack links and description
  client/src/component/Live-Resources/index.jsx
Labels: none

Added UiPath links and Description
  client/src/component/Live-Resources/index.jsx
Labels: none

Added GitHub links and description
  client/src/component/Live-Resources/index.jsx
Labels: none

Edited SCSS
  client/src/component/Live-Resources/live-resources.scss
Labels: none

Added Domain.com links and description
  client/src/component/Live-Resources/index.jsx
Labels: none

added GCP links and description
  client/src/component/Live-Resources/index.jsx
Labels: none

Created a grid contiainer for social good for the prize category
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/component/LiveCategory/index.jsx
  client/src/component/LiveCategory/live-category.scss
Labels: none

Re design UI for reference
  client/src/component/Live-Resources/index.jsx
  client/src/component/Live-Resources/live-resources.scss
Labels: none

Created class and content for Sustainibility
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class and content specific to Social Good's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class and content specific to Good Begineer Hack
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class anc content specific to Goog Hardware's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Auto stash before merge of "feature/live" and "origin/feature/live"
  client/package.json
  client/src/component/Countdown/countdown.scss
  client/src/component/Countdown/index.jsx
  client/src/component/HackM-Logo/hackm-logo.scss
  client/src/component/HackM-Logo/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/component/Live-Schedule/live-schedule.scss
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/yarn.lock
Labels: client

Created class and content specific to Best Design's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Fixed scroll issue
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Resources/index.jsx
  client/src/component/LiveCategory/live-category.scss
Labels: none

Created class and content specific to DigitalOcean's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Created class and content specific to Google Cloud's Prize
  client/src/component/LiveCategory/index.jsx
Labels: none

Rearranged buttons
  client/src/pages/Live/live.scss
Labels: none

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js files within the source dir
test: 
  - src/**/*.spec.js

# Add 'actions' label to any new or updated GitHub action workflow
actions: 
  - .github/workflows/*

# Add 'server' label to any changes done to the express.js server
server:
  - server.js
  - package.json
  - src/*
  - test/*

# Add 'client' label to any changes done to the React application
client:
  - client/*

# Add the 'documentation' label to any changes in either of the documented files
documentation:
  - READEME.md
  - LICENSE
  - CODE_OF_CONDUCT.md
  - client/README.md
