Repository HackMerced/HackMerced-V, pull requests merged in 2019-09, with the labels that each got.

#22 WIP Idk if any of this sign up page is right
  client/package.json
  client/src/pages/signUp/data.js
  client/src/pages/signUp/signUp.css
  client/src/pages/signUp/signUp.jsx
  client/yarn.lock
  server/api/routes.js
  server/package.json
  server/server.js
  server/yarn.lock
Labels: feature

#42 Rendering React App on Express Server
  .circleci/config.yml
  client/src/pages/signUp/data.js
  client/yarn.lock
  package.json
  server.js
  server/.env.tmpl
  server/api/routes.js
  server/package.json
  server/server.js
  src/models/hacker.js
  src/models/index.js
  src/models/team.js
  src/routes/hackers.js
  src/routes/index.js
  src/routes/mailing.js
  src/routes/mentors.js
  src/routes/sponsors.js
  src/routes/volunteers.js
  test/test.js
  yarn.lock
Labels: feature, server

#44 Delete yarn.lock
  .gitignore
  yarn.lock
Labels: invalid
