Repository HackMerced/HackMerced-V, pull requests merged in 2020-01, with the labels that each got.

#8 Issue #7 navigation bar smooth scroll
  .gitignore
  client/.gitignore
  client/src/component/Navigation-Bar/index.jsx
  client/src/component/Navigation-Bar/navigation-bar.scss
  client/src/index.scss
Labels: bug

#13 Sponsors
  client/src/assets/Images/1password.png
  client/src/assets/Images/DigitalOcean_logo.svg.png
  client/src/assets/Images/Roche_Logo.svg
  client/src/assets/Images/Sketch.png
  client/src/assets/Images/aops.png
  client/src/assets/Images/asucm.png
  client/src/assets/Images/asucm_logo.png
  client/src/assets/Images/balsamiq-logo-noborder-print.png
  client/src/assets/Images/balsamiq.png
  client/src/assets/Images/bugsee.png
  client/src/assets/Images/citris.png
  client/src/assets/Images/clerky.png
  client/src/assets/Images/cloudsploit.png
  client/src/assets/Images/desmos.png
  client/src/assets/Images/digitalocean.png
  client/src/assets/Images/egghead.png
  client/src/assets/Images/jetbrains.png
  client/src/assets/Images/linode.png
  client/src/assets/Images/magoosh.png
  client/src/assets/Images/makeschool.png
  client/src/assets/Images/makeschool_logo.png
  client/src/assets/Images/makey makey.png
  client/src/assets/Images/mlh-logo-color.png
  client/src/assets/Images/roche.png
  client/src/assets/Images/roche_logo.png
  client/src/assets/Images/sketch-3-2014.png
  client/src/assets/Images/sketch-logo-dark-transparent@2x.png
  client/src/assets/Images/stickeryou_logo.png
  client/src/assets/Images/stickeryoulogo.png
  client/src/assets/Images/wolfram.png
  client/src/component/Sponsors/index.jsx
  client/src/component/Sponsors/sponsors.scss
  client/src/pages/SignUp/index.jsx
Labels: feature

#23 Rounded border, still fades with off color
  client/src/component/Navigation-Bar/navigation-bar.scss
Labels: bug

#22 Feature/faq
  client/src/component/Accordion/index.jsx
  client/src/component/Accordion/section.jsx
  client/src/component/Accordion/section.scss
  client/src/component/FAQ/faq.scss
  client/src/component/FAQ/index.jsx
  client/src/component/Navigation-Bar/index.jsx
  client/src/pages/Home/index.jsx
Labels: help wanted

#26 Changed dropdown list of schools to searchable list
  client/src/pages/SignUp/index.jsx
Labels: bug, feature
