Repository HackMerced/HackMerced-V, pull requests merged in 2020-02, with the labels that each got.

#32 Add gitpod config
  .gitpod.yml
  README.md
Labels: documentation

#35 WIP Resizing Themes images
  client/src/assets/Images/medical.png
  client/src/assets/Images/social good.png
  client/src/assets/Images/sustainability.png
  client/src/component/Themes/index.jsx
  client/src/component/Themes/themes.scss
  client/src/pages/Home/index.jsx
Labels: bug, feature, help wanted, invalid

#37 Feature/email response
  client/package.json
  client/src/component/Loader/Loader.scss
  client/src/component/Loader/index.jsx
  client/src/component/Navigation-Bar/index.jsx
  client/src/pages/SignUp/index.jsx
  client/src/pages/SignUp/signUp.scss
  client/yarn.lock
  package.json
  src/routes/attendees.js
  yarn.lock
Labels: feature

#41 Setup some new actions
  .github/labeler.yml
  .github/main.workflow
  .github/workflows/build.yml
  .github/workflows/greetings.yml
  .github/workflows/label-actions.yml
  .github/workflows/labeler.yml
  README.md
Labels: actions, feature

#43 Fixed sponsors links
  client/src/component/Sponsors/index.jsx
  client/src/component/Sponsors/sponsors.scss
Labels: bug

#46 Removed the security breach
  src/routes/attendees.js
Labels: bug

#50 feature/addedButton
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
Labels: feature

#53 fix: fix live site
  client/src/component/Countdown/countdown.scss
  client/src/component/Countdown/index.jsx
  client/src/component/Footer/footer.scss
  client/src/component/Footer/index.jsx
  client/src/component/Live-Container/index.jsx
  client/src/component/Live-Container/live-container.scss
  client/src/pages/Live/index.jsx
  client/src/pages/Live/live.scss
  client/src/pages/SignUp/signUp.scss
Labels: feature
